<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue JS 2 Cont</title>
</head>
<body>
    <div id="v-for">
        <h1> Looping through the list </h1>
        index 0 of characters is: {{ characters[0] }}
        <br>
        index 1 of characters is: {{ characters[1] }}

        <!-- easier way of looping is by using v-for -->
        <ul>
            <li v-for="name in characters"> 
                {{ name }}
            </li>
        </ul>

        <!-- to display everything in ninjas (everything inside is held within a dictionary) -->
        <ul>
            <li v-for="ninja in ninjas"> {{ ninja }} </li>
        </ul>
        <!-- to get each property within ninjas -->
        <ul>
            <!-- we can even get the index of each property by adding (, index) -->
            <li v-for="(ninja, index) in ninjas"> 
                {{ index }}) name: {{ ninja.name }} 
                <br>
                age: {{ ninja.age }}
            </li>
        </ul>

        <!-- outputting a div from the v-for -->
        <!-- if we don't want our div tags to show up in the inspect element page, we can change the div to template -->
        <div v-for="(ninja, index) in ninjas">
            <h3> {{ index }} . {{ ninja.name }} </h3>
            <p> age: {{ ninja.age }} </p>
        </div>

        <!-- looping through objects -->
        <template v-for="ninja in ninjas">
            <!-- go through the object, we can use another v-for inside -->
            <div v-for="(val, key) in ninja">
                <!-- since we have access to the single object within the array, we can cycle through that object -->
                {{ key }} - {{ val }}
            </div>
        </template>
    </div>

    <hr>

    <div id="components1">
        <h2>
            Vue Component 1
        </h2>
        <!-- to add in the reusable component created that is called 'greeting' -->
        <greeting></greeting>
    </div>

    <div id="components2">
        <h2>
            Vue Component 2
        </h2>
        <greeting></greeting>
    </div>

    <hr>

    <div id="refs">
        <h2> Refs </h2>
        <input type="text" ref="input">    
        <button v-on:click="readRefs"> Submit </button>
        <p> your food: {{ output }} </p>
        <div ref="test">
            hello
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>